<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
  link(rel="stylesheet" href="/styles/css/vendor.css")
  link(rel="stylesheet" href="/styles/css/main.css")
body
  
  main#app

    header
      .wrapper
        p this is header

    block content

    footer
      .wrapper
        p this is footer

  script(src="/js/jquery.min.js")
  script(src="/js/axios.min.js")
  script(src="/js/vue.js")
  //- script(src="/js/bootstrap.min.js")
  script(src="/js/main.js")